.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex; 
}

.channelblock {
  min-height: 100%;
}
.channelblock .channellist {
  background-color: #d9ffa4;
  min-width: 30%;
  border: 1px solid rgb(89, 161, 29);
  border-radius: 2px;
  max-height: 100%;
  height: 85vh;
  overflow: auto;
  margin-bottom: 10px;
}

.channel-item {
  border-bottom: 1px solid rgb(89, 161, 29);
  padding: 10px;
  font-weight: bold;
}

.channel-item:hover {
  background-color: rgb(212, 155, 155);
  cursor: pointer;
}

.namebox {
  background-color: #d9ffa4;
  width: 100%;
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid rgb(89, 161, 29);
}

.chatwindow {
  background-color: #d7ff9f;
  width: 70%;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 100%;
  padding-top: 5px;
  margin:0;
  border: 1px solid rgb(89, 161, 29);
}

.inputmessagebox {
  position: relative;
  width: 100%;
  background-color: #d8ffa4;
  padding: 5px 5px;
  border-top: 1px solid rgb(89, 161, 29);
}

.chatbox {
  background-color: #d9ffa4;
  background-size: cover;
  position: block;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  width: 80vw;
  height: 75vh;
  overflow: auto;
}

.channel-card{
  max-width: 100%;
  border-bottom: 1px solid rgb(89, 161, 29);
}